.btn-icon.btn-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0.5em auto;

  color: rgb(41, 41, 41);
  background-color: #f4f5f7;
  border: 2px;

  &:hover {
    color: rgb(41, 41, 41);
  }
}
