.btn-form.btn-primary {
  color: var(--re-frame-dark-green, #293a0f);
  text-align: right;
  font-size: 24px;
  line-height: 30px;
  margin: 1em auto;
  background-color: rgba(255, 0, 0, 0);
  border: none;

  &:hover {
    color: var(--re-frame-dark-green, #293a0f);
    background-color: rgba(255, 0, 0, 0);
  }

  &&:active {
    color: var(--re-frame-dark-green, #293a0f);
    background-color: rgba(255, 0, 0, 0);
  }
}

.btn-form.btn-primary .today-btn {
  position: relative;
}

#gratitude-sun {
  position: absolute;
  left: -60%;
  top: -42.5%;
  z-index: -1;
}

#moments-star {
  position: absolute;
  left: -38%;

  z-index: -1;
}
