.card-wrapper {
  display: flex;
  margin: 2em;
  padding: 0;
  flex-direction: column;
}

.card-body {
  width: 100vw;
  min-height: 40%;
}

.card.custom-card {
  border: none;
  background-color: #f4f5f7;
  width: 100%;
}

.card.custom-card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
