.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.13rem;
}

.card.custom-card {
  width: 18rem;
  max-width: 300px;
  border: none;
}

.custom-card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
