.textarea-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 70vw;
  text-align: left;
  /* position: relative; */
}


/* .textarea-wrapper p {
  text-align: left;
} */

.textarea-wrapper .btn-textarea-save {
position: absolute;
top: -3.3em;
right: -1em;
}


.form-control.textarea {
  border: none;
  border-bottom: 0.5px solid transparent;
  outline: none;
  /* resize: none; */
  overflow: auto;
  background-color: #f4f5f7;
  height: 65vh;
  padding: 0;
}

.form-control.textarea:focus {
  background-color: #f4f5f7;
  box-shadow: none;
  border-color: #f4f5f7;
}

.form-label {
  font-weight: 700;
}


.date-textarea {
  color: var(--default-black, #000);
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin-right: auto;
  margin-top: 8.1px;
}
